html,
body {
  font-family: "Raleway", sans-serif;
}

body {
  background: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  width: 100%;
  display: block;
}

form.dropzone {
  height: 50px;
  text-align: center;
  border: 3px navajowhite dotted;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  padding-top: 10px;
}

form.url-upload {
  display: flex;
  padding-left: 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 80%;
  background: rgba(255, 255, 255, 0.3);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  margin: 20px 0;
}

h2 {
  font-size: 40px;
  margin: 20px 0;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.dz-preview {
  display: none;
}

.forms {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

form.dropzone,
.url-upload {
  width: 50%;
}

.Examples ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

li {
  margin: 10px;
  width: 100%;
  height: 100px;
}

li img {
  max-height: 100px;
  object-position: center;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5%;
}

input[type="text"] {
  width: 50%;
}

::placeholder {
  padding: 10px 20px;
}

input[type="submit"] {
  width: 25%;
  background: navajowhite;
  text-transform: uppercase;
  text-shadow: 4px 4px 3px rgba(77, 77, 77, 0.5);
}
